[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = lumipixi
	email = 98211231+lumipixi@users.noreply.github.com
[init]
	defaultBranch = main
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --abbrev-commit
  tracked = ls-tree -r main --name-only #TODO: add a way to reference the current branch
